<section id="contact-section">
    <app-header></app-header>
</section>
<section class="contact-hero-section">
    <div class="contact-detail">
        <div class="contact-header">
            <h3>Contact us</h3>
            <h1>Get in touch with us for more information.</h1>
        </div>
        <div class="contact-info">
            <div class="contacts">
                <img src="../assets/Contact/Group 10.png" alt="">
                <p> <strong>Address:</strong>
                    <br>
                    <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, mollitia?
                    </small>
                </p>
            </div>
            <div class="contacts">
                <img src="../assets/Contact/Group 22.png" alt="">
                <p> <strong>Email:</strong>
                    <br>
                    <small>hello@portexpress.ng
                    </small>
                </p>
            </div>
            <div class="contacts">
                <img src="../assets/Contact/Group 23.png" alt="">
                <p> <strong>Phone:</strong>
                    <br>
                    <small> +234 704 0200 006 </small>
                </p>
            </div>
        </div>
    </div>
    <form class="contact-form">
        <div class="input field1">
            <label for="name">Full name</label>
            <br>
            <input type="text" id="name" placeholder="Enter your name" required>
        </div>
        <div class="input field2">
            <label for="email">Email address</label> <br>
            <input type="text" id="email" placeholder="Enter your email addresss" required>
        </div>
        <div class="input field3">
            <label for="number">Phone number</label> <br>
            <input type="text" id="number" placeholder="Enter your phone number" required>
        </div>
        <div class="input field4">
            <label for="location">Location</label>
            <br>
            <select name="Location" id="location">
                <option value="">--select location--</option>
                <option value="nagpur">Nagpur</option>
            </select>
        </div>
        <div class="input field5">
            <label for="message">Message</label>
            <br>
            <textarea name="message" id="message" placeholder="Write messages here"></textarea>
        </div>
        <div class="input field-submit">
            <input type="submit" value="Send messsage">
        </div>
    </form>
</section>
<app-footer></app-footer>