<section id="about-section">
    <app-header></app-header>
    <h4>About us</h4>
    <h1>We are Porters</h1>
</section>
<section id="about-info">
    <div class="about-hero-img">
        <img src="../assets/about/Porter-man-2 1.png" alt="porter-man">
    </div>
    <div class="about-hero-info">
        <h2>We are making delivery seamless and hassle-free.</h2>
        <p>Established in Nigeria on February 2019 as Porter Express Delivery Limited, it was created to make
            on-demand and same-day delivery possible for everyone at the touch of a button. Today, we operate across
            the 36 Nigerian states , offer global import and export shipment with our courier and delivery partners
            across the world.
            <br> <br>
            Our driver and delivery partners operate a vast array of vehicles to suit each market including lorries,
            vans and cars for deliveries of almost anything of any size , providing fast and low-cost delivery
            solutions.
        </p>
    </div>

</section>
<section id="about-service">
    <h1>Who we serve</h1>
    <div class="services">
        <div class="service">
            <img src="../assets/about/Group 19.png" alt="Customers">
            <h4>Customers</h4>
            <p>
                Our state-of-the-art tracking systems ensure that our customers know where their shipments are and when they will be delivered, giving you peace of mind and the ability to plan ahead.
            </p>
        </div>
        <div class="service">
            <img src="../assets/about/Group 29.png" alt="Customers">
            <h4>Vendors</h4>
            <p>
                We are committed to providing exceptional customer service. Our clients can trust that we work with the best in the industry to deliver their goods on time and in perfect condition, anytime, anywhere.
            </p>
        </div>
        <div class="service">
            <img src="../assets/about/Group 30.png" alt="Customers">
            <h4>Dispatchers</h4>
            <p>
                Our Team of experienced dispatchers are dedicated to ensuring that your shipments is  delivered on time and in the most efficient manner possible.
            </p>
        </div>
    </div>
</section>
<div class="mission-vision">
    <div class="mission">
        <h4>Mission</h4>
        <p>
            We strive to be the preferred logistics partner for businesses of all sizes in Nigeria, Africa and across  the globe by offering reliable and cost-effective services that enable our clients to grow and succeed.
        </p>
    </div>
    <div class="mission">
        <h4>Vision</h4>
        <p>
            We aim to be the  leading provider of logistics solutions in Nigeria and beyond,  by continually investing in our people, technology, and infrastructure, so we can offer our clients the most reliable and efficient logistics and courier services available. 
        </p>
    </div>
    <div class="mission">
        <h4>Values</h4>
        <p>
            We are guided by a set of core values that regulates everything we do. These values include: <br>
            <strong>Reliability</strong>: We are committed to delivering shipments on time and in perfect condition, without raising doubts on our  process of delivery.
            <br>
            <strong>Customer focus</strong>: Our  customers are  at the center of everything we do at Porter as we work hard to exceed their expectations.
            <br>
            <strong>Innovations</strong>: We look for new and better ways to streamline  logistics processes, reduce cost and overhead to  improve efficiency.
            <br>
            <strong>Integrity</strong>:We operate with the highest standards of honesty and I integrity, building trust with our customers, partners, and employees.
        </p>
    </div>
</div>
<app-last-div></app-last-div>
<app-footer></app-footer>