<footer id="footer">
    <div class="footer-div">
        <div class="footer-logo">
            <a routerLink="/"><img src="../assets/landing/Porter-logo.png" alt="logo"></a>
        </div>

        <ul class="footer-links">
            <li><a routerLink="/">HOME</a></li>
            <li><a routerLink="/about">ABOUT</a></li>
            <li><a href="#">BLOG</a></li>
            <li><a routerLink="/contact">CONTACT</a></li>
        </ul>

        <div class="social-icons">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"> <i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <small>Copyright &copy; 2022 Porter. All rights reserved.</small>
</footer>