<header id="header">
    <nav class="navbar navbar-expand-sm ">

        <div class="logo">
            <a class="navbar-brand" routerLink="/"><img src="../assets/landing/Porter-logo.png" alt="logo"></a>
        </div>

        <div class="links" id="navbar-links">
            <div class="navbar-links">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li>
                        <a class="nav-link active" routerLink="/">HOME</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/about">ABOUT US</a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">BLOG</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/track">TRACK</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/contact">CONTACT US</a>
                    </li>
                </ul>
            </div>
            <div class="nav-btn">
                <a class="contact-btn" routerLink="/contact">CONTACT US</a>
            </div>
        </div>
        <div id="hamberger-menu">
            <span id="menu-btn" onclick="handleMenu()">Menu</span>
        </div>
    </nav>

</header>