<section id="hero-section">
    <app-header></app-header>
    <main>
        <div class="main-content">
            <h1>Delivery made easy.</h1>
            <p>Porter helps you with the fastest courier and delivery services including Same Day Delivery, Last
                Mile and International delivery solutions.</p>
            <div class="buttons">
                <a routerLink="/booking1" class="bookings-btn">Book delivery</a>
                <a routerLink="/track" class="track-btn">Tracking <span>
                        &rarr;
                    </span> </a>
            </div>
        </div>

        <div class="main-img">
            <img src="../../../assets/landing/Mask-group.png" alt="">
            <img class="dotted-img" src="../../../assets/landing/dotted-Element.png" alt="">
        </div>

    </main>

</section>
<section id="service-section">
    <h1>What we do best.</h1>
    <div class="services">
        <div class="service">
            <img src="../assets/landing/24-Care-Package.png" alt="">
            <div>
                <h4>Last mile delivery</h4>
                <p>
                    We specialize in providing same-day delivery of small parcels, documents, and packages in any part
                    of
                    Nigeria and around the World. </p>
            </div>
        </div>
        <div class="service">
            <img src="../assets/landing/Package-Transit.png" alt="">
            <div>
                <h4>Pick up and drop off</h4>
                <p>Our mobile app, web based and customer support service allows customers to request pickup and drop
                    off.
                </p>
            </div>
        </div>
        <div class="service">
            <img src="../assets/landing/Truck-Deliveries.png" alt="">
            <div>
                <h4>Inter-state delivery</h4>
                <p>We provide transportation and logistics services for shipping goods between different states or
                    regions
                    within Nigeria. </p>
            </div>
        </div>
        <div class="service">
            <img src="../assets/landing/Air-Delivery.png" alt="">
            <div>
                <h4>International Delivery</h4>
                <p> We offer express and standard delivery services for international shipments. </p>
            </div>
        </div>
        <div class="service">
            <img src="../assets/landing/Global-Package.png" alt="">
            <div>
                <h4>E-commerce</h4>
                <p>We are a global e-commerce Logistics company that deliver products sold online, including books,
                    physical
                    products, and warehousing for products.</p>
            </div>
        </div>

    </div>
</section>
<section id="third-section">
    <img src="../assets/landing/Group24.png" alt="">
    <div class="features">
        <div class="feature">
            <h2>Why Choose Porter?</h2>
            <p>We understand that Businesst, Organization and Individuals have specific needs, which is why we offer
                customized solutions that cater to a specific needs. From e-commerce solution, pickup and drop off, we
                help you achieve that goal.</p>
            <div class="feature-info">
                <img src="../assets/landing/Group10.png" alt="img">
                <p>
                    <strong>Fast delivery</strong> <br>
                    <small>Our utmost commitment to fast, reliable service sets us apart from other courier and
                        Logistics companies in Nigeria. We ensure that your packages are delivered as quickly and
                        efficiently as possible anytime, anywhere.</small>
                </p>
            </div>
            <div class="feature-info">
                <img src="../assets/landing/Group11.png" alt="img">
                <p>
                    <strong>Reliable</strong> <br>
                    <small>Whether you need to send documents, parcels, or large freight, we have the expertise and
                        resources to get your items to a destination safely.</small>
                </p>
            </div>
            <div class="feature-info">
                <img src="../assets/landing/Group12.png" alt="img">
                <p>
                    <strong>Safe</strong> <br>
                    <small>With our real-time tracking system, you can always stay up-to-date the status of your
                        delivery.
                    </small>
                </p>
            </div>
        </div>
        <div class="feature-img">
            <!-- <img src="../assets/landing/Mask group below.png" alt=""> -->
            <!-- background img  -->
        </div>
    </div>
</section>
<section id="section-partner">
    <div class="partner-img">
        <!-- background img  -->
    </div>
    <div class="partner-info">
        <img src="../assets/landing/Group25.png" alt="">
        <h2>Earn with Porter.</h2>
        <p>
            We are always on the lookout for dedicated and reliable individuals to join our team of couriers. As a
            courier for Porter you have the opportunity to earn competitive rates for each delivery you make.
            <br>
            With our growing customer base, there's no shortage of delivery opportunities.
            <br>
            Our flexible scheduling allows you to choose when and how often you work, making it the perfect opportunity
            for anyone looking to earn extra income on the side.
            <br>


        </p>
        <a routerLink="/contact"> Contact us <i class="fas fa-arrow-right"></i></a>
    </div>
</section>
<app-last-div></app-last-div>
<app-footer></app-footer>