<section id="booking-form">

    <app-header></app-header>
</section>
<section class="booking-hero-section">
    <h1>Booking request.</h1>
    <form action="" class="form">
        <div class="form-heading">
            Drop off details
        </div>
        <div class="form-no">
            2/2
        </div>
        <div class="input field-1">
            <label for="Fname">First name</label>
            <br>
            <input type="text" id="Fname" placeholder="Enter your first name">
        </div>
        <div class="input field-2">
            <label for="Lname">Last name</label>
            <br>
            <input type="text" id="Lname" placeholder="Enter your last name">
        </div>
        <div class="input field-3">
            <label for="number">Phone number</label>
            <br>
            <input type="text" id="number" placeholder="Enter your phone number">
        </div>
        <div class="input field-4">
            <label for="altNumber">Alternative phone number</label>
            <br>
            <input type="text" id="altNumber" placeholder="Enter your alternative number">
        </div>
        <div class="input field-5">
            <label for="item">Drop off location</label>
            <br>
            <input type="text" id="item" placeholder="Enter your pickup address">
        </div>
        <div class="input field-6">
            <div class="pricing">
                <div class="price-info">
                    <strong>Estimated price</strong>
                    <br>
                    <small>This is an estimated pricing, it is subject to change,</small>
                </div>
                <div class="price">
                    N4,500
                </div>
            </div>
        </div>
        <div class="back-btn">
            <a routerLink="/booking1">Go back</a>
        </div>
        <div class="send-btn">
            <input type="submit" value="Send request">
        </div>
    </form>
</section>
<app-footer></app-footer>